.main{
  min-height: calc(100vh - 70px - 56px);
}

.item-bg{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 80px;
}

.item-sale{
  width: 55px;
  height: 55px;
  bottom: 0;
  right: 0;
}